html {
  height: 100%;
  font-size: 18px;
  scrollbar-gutter: stable;
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  min-height: 100%;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  scrollbar-gutter: stable;
}

html, body, #root {
  height: 100%;
}

:root[data-font-size="sm"] {
  font-size: 16px;
}

:root[data-font-size="lg"] {
  font-size: 20px;
}
